<div id="header">
    <div class="div-warp">
        <div id="header_name_div">
            <a>海大</a>
        </div>
        <div id="header_right_list_bar_div">
            <a class="userInfo">
                <span>你的名字-your name</span>
                <img src="~/Contents/Img/zhihu_head_img.jpg" />
            </a>
            <ul id="header_right_list_bar_list">
                <li>
                    <a>
                        <i id="my_account_icon"></i>我的主页
                    </a>
                </li>
                <li>
                    <a>
                        <i id="personal_letter_icon"></i>私信
                    </a>
                </li>
                <li>
                    <a>
                        <i id="set_icon"></i>设置
                    </a>
                </li>
                <li>
                    <a>
                        <i id="sign_out_icon"></i>退出
                    </a>
                </li>
            </ul>
        </div>

        <button id="header_btn">提问</button>
        <div id="header_top_search">
            <input id="top_search_input" type="text" name="top-search" value="" placeholder="搜索你想要搜的内容" />
            <button>
                <span class="hide-text">搜索</span>
                <span id="top_search_btn"></span>
            </button>
        </div>
        <div id="header_top_nav">
            <ul>
                <li><a>首页</a></li>
                <li><a>话题</a></li>
                <li><a>发现</a></li>
                <li><a>消息</a></li>
            </ul>
        </div>

    </div>
</div>
