<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*重置底层样式*@
    <link href="~/Contents/WebPageCss/reset.css" rel="stylesheet" />
    @*重置底层样式*@
    <script src="~/Contents/BootStrap/js/jquery-1.11.1.min.js"></script>
    <link href="~/Contents/BootStrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Contents/BootStrap/js/bootstrap.js"></script>
    <link href="~/Contents/LigerUI/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" />
    @*<script src="~/Contents/LigerUI/lib/jquery/jquery-1.9.0.min.js"></script>*@
    <script src="~/Contents/LigerUI/lib/ligerUI/js/ligerui.all.js"></script>
    <script src="~/Contents/underscore.js"></script>


</head>
<body style="zoom: 1;">

    @*  @RenderPage("_header.cshtml")*@
    @RenderBody()


</body>
</html>
