<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Contents/BootStrap/js/jquery-1.11.1.min.js"></script>
    <link href="~/Contents/BootStrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Contents/BootStrap/js/bootstrap.js"></script>
    <link href="~/Contents/LigerUI/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" id="mylink" />
    @*<script src="~/Contents/LigerUI/lib/jquery/jquery-1.9.0.min.js"></script>*@
    <script src="~/Contents/LigerUI/lib/ligerUI/js/ligerui.all.js"></script>
    @*数组筛选操作*@
    <script src="~/Contents/underscore.js"></script>
    @*数组筛选操作*@
    @*/*弹出框*/*@
    <script src="~/Contents/MayLandRes/artDialog/artDialog.js?skin=default"></script>
    <script src="~/Contents/MayLandRes/artDialog/plugins/iframeTools.js"></script>
    @*/*弹出框*/*@
    @*自定义js扩展*@
    <script src="~/Contents/ExtentScript.js"></script>
    @*自定义js扩展*@
    @*ligerui扩展*@
    <script src="~/Contents/ligerui-extent.js"></script>
    @*ligerui扩展*@
</head>
<body>
    @RenderBody()
</body>
</html>
