@{
    Layout = "~/Views/Layout/_layout.cshtml";
    ViewBag.Title = "论坛首页";
}



<div id="content">
    <div class="div-warp">
        <div id="main_content">
            <div id="left_main_content">
                <div id="main_content_top_bar">
                    <div id="main_content_top_bar_hread_img">
                        <img src="~/Contents/Img/zhihu_head_img.jpg" />
                    </div>

                    <div id="main_content_top_bar_btn_list">
                        <span class="box-arrow"></span>
                        <ul>
                            <li>
                                <a><i id="main_content_top_bar_btn_list_ask"></i>提问</a>
                            </li>
                            <li>
                                <a><i id="main_content_top_bar_btn_list_answer"></i>回答</a>
                            </li>
                            <li>
                                <a><i id="main_content_top_bar_btn_list_write"></i>写文章</a>
                            </li>
                        </ul>
                        <div id="main_content_top_bar_hread_right">
                            <a>草稿</a>
                        </div>
                    </div>

                </div>
                <div id="main_content_section_tit">
                    <i id="main_content_section_tit_icon"></i>
                    最新动态
                                <span>
                                    <a>
                                        <i id="main_content_section_tit_icon_set"></i>设置
                                    </a>
                                </span>
                </div>
                <div id="main_content_question">
                    <div id="question_list">
                        <div class="question-item">
                            <div class="question-item-inner">
                                <div class="question-item-head-img">
                                    <a>
                                        <img src="~/Contents/Img/headImg.jpg" />
                                    </a>
                                </div>
                                <div class="question-item-content">
                                    <div class="question-source">
                                        <a class="author">自由飞</a>
                                        回答了问题
                                                <span>•</span>
                                        <span class="answer-time">11天前</span>
                                    </div>
                                    <div class="question-content">
                                        <h2 class="question-title">
                                            <a class="quest-link" href="/Tribune/Answer" target="_blank">你有哪些自学成功的经验？
                                            </a>
                                        </h2>
                                        <div class="answer-content">
                                            <div class="answer-vote">
                                                <a>20
                                                </a>
                                            </div>
                                            <div class="answer-info">
                                                <span class="span-warp">
                                                    <span>
                                                        <a>自由飞,</a>
                                                    </span>
                                                    <span>程序猿 / 创业狗 / 黑律师 / 包工头，还…
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="answer-summary">
                                                大学国际贸易专业，自学法律，拿到自考法学学位，参加司法资格考试，执业律师两年。毕业5年后自学软件开发，考过《软件设计师》，入坑程序猿已经快十年。独立开发求助列表·一起帮并正在直播：在斗鱼直播写代码是一种怎样的体验？ - 知乎其实，自学是一种能…<a class="toggle-expand">显示全部</a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-buttom-bar">
                                        <div class="content-buttom-bar-panel">
                                            <a>
                                                <i id="care_question_icon"></i>关注问题
                                            </a>
                                            <a>
                                                <i id="comment_icon"></i>88条评论
                                            </a>
                                            <span class="zg-bull">•</span>
                                            <a>保留作者权利</a>
                                        </div>

                                    </div>

                                </div>
                                <a href="#" class="ignore" data-tooltip="s$b$不感兴趣"></a>
                            </div>
                        </div>
                        <div class="question-item">
                            <div class="question-item-inner">
                                <div class="question-item-head-img">
                                    <a>
                                        <img src="~/Contents/Img/headImg.jpg" />
                                    </a>
                                </div>
                                <div class="question-item-content">
                                    <div class="question-source">
                                        <a class="author">自由飞</a>
                                        回答了问题
                                                <span>•</span>
                                        <span class="answer-time">11天前</span>
                                    </div>
                                    <div class="question-content">
                                        <h2 class="question-title">
                                            <a class="quest-link">你有哪些自学成功的经验？
                                            </a>
                                        </h2>
                                        <div class="answer-content">
                                            <div class="answer-vote">
                                                <a>20
                                                </a>
                                            </div>
                                            <div class="answer-info">
                                                <span class="span-warp">
                                                    <span>
                                                        <a>自由飞,</a>
                                                    </span>
                                                    <span>程序猿 / 创业狗 / 黑律师 / 包工头，还…
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="answer-summary">
                                                大学国际贸易专业，自学法律，拿到自考法学学位，参加司法资格考试，执业律师两年。毕业5年后自学软件开发，考过《软件设计师》，入坑程序猿已经快十年。独立开发求助列表·一起帮并正在直播：在斗鱼直播写代码是一种怎样的体验？ - 知乎其实，自学是一种能…<a class="toggle-expand">显示全部</a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-buttom-bar">
                                        <div class="content-buttom-bar-panel">
                                            <a>
                                                <i id="care_question_icon"></i>关注问题
                                            </a>
                                            <a>
                                                <i id="comment_icon"></i>88条评论
                                            </a>
                                            <span class="zg-bull">•</span>
                                            <a>保留作者权利</a>
                                        </div>

                                    </div>

                                </div>
                                <a href="#" class="ignore" data-tooltip="s$b$不感兴趣"></a>
                            </div>
                        </div>
                        <div class="question-item">
                            <div class="question-item-inner">
                                <div class="question-item-head-img">
                                    <a>
                                        <img src="~/Contents/Img/headImg.jpg" />
                                    </a>
                                </div>
                                <div class="question-item-content">
                                    <div class="question-source">
                                        <a class="author">自由飞</a>
                                        回答了问题
                                                <span>•</span>
                                        <span class="answer-time">11天前</span>
                                    </div>
                                    <div class="question-content">
                                        <h2 class="question-title">
                                            <a class="quest-link">你有哪些自学成功的经验？
                                            </a>
                                        </h2>
                                        <div class="answer-content">
                                            <div class="answer-vote">
                                                <a>20
                                                </a>
                                            </div>
                                            <div class="answer-info">
                                                <span class="span-warp">
                                                    <span>
                                                        <a>自由飞,</a>
                                                    </span>
                                                    <span>程序猿 / 创业狗 / 黑律师 / 包工头，还…
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="answer-summary">
                                                大学国际贸易专业，自学法律，拿到自考法学学位，参加司法资格考试，执业律师两年。毕业5年后自学软件开发，考过《软件设计师》，入坑程序猿已经快十年。独立开发求助列表·一起帮并正在直播：在斗鱼直播写代码是一种怎样的体验？ - 知乎其实，自学是一种能…<a class="toggle-expand">显示全部</a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-buttom-bar">
                                        <div class="content-buttom-bar-panel">
                                            <a>
                                                <i id="care_question_icon"></i>关注问题
                                            </a>
                                            <a>
                                                <i id="comment_icon"></i>88条评论
                                            </a>
                                            <span class="zg-bull">•</span>
                                            <a>保留作者权利</a>
                                        </div>

                                    </div>

                                </div>
                                <a href="#" class="ignore" data-tooltip="s$b$不感兴趣"></a>
                            </div>
                        </div>
                        <button onclick="showMask()">loading</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*    <div id="load_div">
        <div class="loadEffect">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>*@

